@import "Nullstyles.scss";
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif&family=Kalnia:wght@400;500;600&family=Whisper&display=swap");

// Переменные (Шрифт)
$fz_1: 14px;
$fz_2: 16px;
$fz_3: 18px;
$fz_4: 20px;
$fz_5: 25px;

// Пременные (Цвет)
$color_1: #fff;
$color_2: #000;
$color_3: #ff0000;
$color_4: #008080;
$color_5: #d89b64;
$color_6: #485471;

body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}
// Оболочка
.wrapper {
	max-width: 2000px;
	max-height: 4387px;
	margin: 0px auto;
	overflow: hidden;
	border: #008080 2px solid;
}
// Шапка
.header {
	background: url("/img/fon_header_1.png") fixed repeat;
	height: 950px;
}
.container {
	display: flex;
	justify-content: space-between;
	flex: 0 1 auto;
	flex-wrap: wrap;
	max-width: 1823px;
	margin: 0px auto;
}
//Логотип с текстом
.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 90px;
	//border: 2px solid red;
	margin: 66px 0px 0px 0px;
}
.logo__icon {
	& img {
		border-radius: 50%;
	}
}
.logo__text {
	font-family: "Kantia", serif;
	font-size: $fz_4;
	padding-left: 10px;
	& p {
		color: $color_1;
	}
}
.header__burger {
	display: none;
}

// Меню
.menu {
	display: flex;
	align-items: center;
	//border: yellow 2px solid;
	margin: 79px 0px 0px 0px;
}
.menu__list {
	display: flex;
}
.menu__link {
	font-family: "Kantia", serif;
	font-size: $fz_3;
	padding-left: 100px;
	padding: 0px auto;
	color: $color_1;
	&:hover{
		color: $color_5;
	}
}

// Рисуем бургер меню + адаптация
@media ( max-width: 767px){
	body.lock {
		overflow: hidden;
	}
	.header{
		height: 400px;
	}
	.header__logo{
		position: relative;
		top: 0;
		left: 30px;
		flex: 0 0 70px;
	}
	.header__burger{
		display: block;
		text-align: right;
		position: relative;
		left: 550px;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span {
		position: absolute;
		background-color: $color_1;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
}
.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: $color_1;
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		transition: all 0.5s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.menu {
		position: fixed;
		top: -125%;
		left: 70px;
		//overflow: auto;
		width: 500px;
		height: 10%;
		transition: all 0.5s ease 0s;
		//padding: 0px 0px 0px 0px;
	}
	.menu.active {top: -13px;}
	.menu__list {display: flex;}
	//.menu_list li {//margin: 0px 0px 0px 0px;}
	.menu__link {
		color: $color_1;
		font-size: $fz_3;
		&:hover {
			color: $color_5;
		}
	}

	// Переключение картинок(АДПТАЦИЯ)
	.swipe__img img{width: 350px;}
	.swipe__left{height: 50px;}
	.swipe__right{height: 50px;}

	// КНОПКИ HEADER(АДАПТАЦИЯ)
	//.button{}
	.button__number{
		display: block;
		position: relative;
		top: 0;
		left: 25px;
		& button{
			position: absolute;
			left: 10px;
			max-width: 200px;
			margin-top: 40px;
			&:hover{
				color: $color_5;
			}
			&:nth-child(2){
				position: absolute;
				left: 50px;
				top: 0;
			}
			&:nth-child(3){
				position: absolute;
				left: 90px;
				top: 0;
			}
		}
	}
	.button__text{
		height: 30px;
		width: 300px;
		& p{
			margin-left: 105px;
			text-align: center;
		}
	}
	.button__book{
		width: 150px;
		& button{
			position: relative;
			top: -60px;
			max-width: 120px;
			max-height: 30px;
		}
		& a{
			font-size: $fz_1;
			
		}
	}
	.perfection__text{
		& p{
			text-align: center;
		}
	}
	.perfection__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.details{
		margin: 0px auto;
		max-width: 750px;
		max-height: 450px;
	}
	.details__body{
		max-width: 600px;
		max-height: 300px;
	}
	.details_body_content{
		max-width: 550px;
		max-height: 255px;
		& h2{
			font-size: $fz_2;
		}
		& p{
			font-size: $fz_1;
			text-align: center;
		}
	}
	.achievement__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		}
	}
//



.swipe {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 1823px;
}
.swipe__left {
	display: flex;
	
}
.swipe__img {
	display: flex;
}
.swipe__right {
	display: flex;

}

// КНОПКИ HEADER
.button {
	display: flex;
	justify-content: space-between;
	width: 1823px;
}
.button__number {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 213px;
	margin-top: -40px;
	& button {
		font-size: $fz_4;
		background: rgba(255, 255, 255, 0);
		color: #ffffff;
		&:hover{
			color: $color_5;
		}
	}
}
.button__text {
	display: flex;
	justify-content: center;
	align-items: center;
	& p {
		font-size: $fz_4;
		color: $color_6;
	}
}
.button__book {
	display: flex;
	align-items: center;
	justify-content: center;
	& button {
		width: 234px;
		height: 65px;
		font-size: $fz_4;
		border: 1px $color_6 solid;
		background: rgba(255, 255, 255, 0);
	}
	& a {
		color: $color_5;
		&:hover{
			color: $color_1;
		}
	}
}

// MAIN PERFECTION
//.main {}
.perfection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.perfection__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("/img/gratia_120.png");
	margin: 0px auto;
	width: 596px;
	height: 188px;
	& h1 {
		font-size: 35px;
		font-weight: 700;
		text-shadow: 5px -10px 15px #000;
	}
	& p {
		font-size: 25px;
		text-shadow: 5px -10px 15px #000;
		margin-top: 39px;
	}
}
.perfection__body {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.body__img1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//border: 1px $color_2 solid;
	border-radius: 20%;
	background-image: url("/img/dark_127.png");
	width: 651px;
	height: 490px;
	& h2 {
		font-size: 35px;
		color: $color_5;
		margin-bottom: 34px;
		font-weight: 700;
		text-shadow: 5px -10px 15px #000;
	}
	& p {
		font-size: 25px;
		color: $color_1;
		padding-top: 34px;
		text-shadow: 15px -10px 15px #000;
	}
}
.body__img2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	border-radius: 20%;
	//border: 1px $color_2 solid;
	background-image: url("/img/box_136.png");
	width: 574px;
	height: 861px;
	& h2 {
		font-size: 35px;
		padding-bottom: 68px;
		font-weight: 700;
		text-shadow: 5px -10px 15px #000;
	}
	& p {
		font-size: 25px;
		padding-bottom: 34px;
		text-shadow: 5px -10px 15px #000;
	}
}
.body__img3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20%;
	//border: 1px $color_2 solid;
	background-image: url("/img/dark_151.png");
	width: 650px;
	height: 490px;
	& h2 {
		font-size: 35px;
		color: $color_5;
		margin-bottom: 34px;
		font-weight: 700;
		text-shadow: 5px -10px 15px #000;
	}
	& p {
		font-size: 22px;
		color: $color_1;
		padding-top: 34px;
		text-shadow: 5px -10px 15px #000;
	}
}
.perfection__button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 104px;
	margin-bottom: 104px;
	& button {
		color: $color_5;
		font-size: 25px;
		background-color: $color_1;
	}
}
.details {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("/img/photo_180.png");
	height: 708px;
}
.details__body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 777px;
	height: 434px;
	margin: 0px auto;
	background-image: url("/img/white_box_246.png");
}
.details_body_content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 699px;
	height: 356px;
	border: 1px rgba(138, 143, 156, 0.5) solid;
	& h2 {
		font-size: 35px;
		font-weight: 700;
	}
	& p {
		font-family: "Kantia", serif;
		font-style: italic;
		font-size: $fz_5;
	}
	& button {
		width: 313px;
		height: 65px;
		border: 1px rgba(21, 27, 40, 0.15) solid;
		background-color: $color_1;
		color: $color_5;
		&:hover{
			color: $color_4;
		}
	}
}
.achievement {
	margin-bottom: 50px;
}
.achievement__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
	width: 596px;
	height: 188px;
	background-image: url("/img/gratia_120.png");
	& h2 {
		font-size: 35px;
		font-weight: 700;
	}
	& p {
		font-family: "Crimson Text";
		font-size: 24px;
		line-height: 36px;
		font-weight: 400;
		font-style: italic;
		color: #8b909d;
	}
}
.achievement__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.achievement__diffrent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 636px;
	height: 300px;
	background-image: url("/img/box_achievement_1.png");
	& h2 {
		font-family: Montserrat;
		font-size: 24px;
		line-height: 84px;
		font-weight: 700;
		color: $color_5;
	}
	& p {
		font-family: "Crimson Text";
		font-size: 24px;
		line-height: 36px;
		font-weight: 400;
		font-style: italic;
		color: #8b909d;
	}
}
.achievement__fresh {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 636px;
	height: 375px;
	background-image: url("/img/box_achievement.png");
	& h2 {
		font-family: Montserrat;
		font-size: 24px;
		line-height: 84px;
		font-weight: 700;
		color: $color_5;
	}
	& p {
		font-family: "Crimson Text";
		font-size: 24px;
		line-height: 36px;
		font-weight: 400;
		font-style: italic;
		color: $color_1;
	}
}
.achievement__best {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 636px;
	height: 300px;
	background-image: url("/img/box_achievement_1.png");
	& h2 {
		font-family: Montserrat;
		font-size: 24px;
		line-height: 84px;
		font-weight: 700;
		color: $color_5;
	}
	& p {
		font-family: "Crimson Text";
		font-size: 24px;
		line-height: 36px;
		font-weight: 400;
		font-style: italic;
		color: #8b909d;
	}
}